* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 130px 200px 100px 500px;
}

section {
    display: flex;
    width: 600px;
    height: 430px;
}

section img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .9;
    transition: .8s ease;
    text-align: center;
}

section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}